@import "tailwindcss";

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f9fafb;
  --bg-card: #ffffff;

  --text-primary: #111827;
  --text-secondary: #6b7280;

  --border-color: #e5e7eb;

  --accent-color: #7c3aed;
  --accent-hover: #6d28d9;

  --bg-secondary-hover: #e5e7eb;
}

.dark {
  --bg-primary: #0f0f1a;
  --bg-secondary: #1a1a2e;
  --bg-card: #1a1a2e;

  --text-primary: #f3f4f6;
  --text-secondary: #9ca3af;

  --border-color: #2e303a;

  --accent-color: #a78bfa;
  --accent-hover: #8b5cf6;

  --bg-secondary-hover: #35354e;
}

body {
  margin: 0;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

.bg-card {
  background-color: var(--bg-card);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.border-theme {
  border-color: var(--border-color);
}
